<!--  home.htmlのページです
画像をアップするボタンとゲームを始めるボタンを作ります -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>パズルゲーム</title>
    <style>
        .buttonfont{

        }
    </style>
</head>
<body>

  <button onclick="button1Clicked()">画像を選択</button>
  <button onclick="button2Clicked()">START</button>

  <script>
    function imagebutton() {
      alert('ボタン1がクリックされました');
      // ここにボタンがクリックされたときの処理を追加できます
      //alertは例でおいてるだけで使う予定はいまんとこない
    }

    function startbutton() {
      alert('ボタン2がクリックされました');
      // ここにボタンがクリックされたときの処理を追加できます
      //alertは例でおいてるだけで使う予定はいまんとこない
    }
  </script>

</body>
</html>




