<!--  puzzle.htmlのページです
ゲームをプレイする画面を作ります
パズルが完成するとその旨を伝え。完成するまでのタイムを表示します 
余裕があれば作る:パズルが完成した後にhome.htmlに戻れるボタンを表示します

メモ:
現在画像はstatic/image_numのものを参照しています
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>15 Puzzle</title>
    <link rel="stylesheet" href="../static/puzzle.css">


</head>

<body>

    <div id="puzzle">
    </div>

    <div id="timerArea">00:00</div>
    <button id="pauseButton">Pause</button>

    <script type="text/javascript" src="../static/puzzle.js"></script>
    <script src="../static/timer.js"></script>

</body>

</html>